<% form_for @data_field do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :display_type %><br />
    <%= f.select :display_type, options=(DataField::DISPLAY_TYPE_OPTIONS) %><br/>
  </p>
  <p>
    <%= f.label :values %><br />
    <%= f.text_field :values %><br />
    <em><small>For text field display types, values 
      should be either int, float, or string</em></small>
  </p>
  <p>
    <%= f.label :data_types %> <br />
    <%# @department.data_types.each do |data_type| %>  
    <%= multiple_select :data_field, :data_types, 
        @department.data_types.map{|dt| [dt.name, dt.id]} %>
  </p>

  <p><%= f.submit "Submit" %></p>
<% end %>
