<% form_for @data_field do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
	<!-- <p>
    <%= f.label :display_type %><br />
    <%= f.text_field :display_type %>
  </p> -->
	<p>
		<%= f.label :display_type %><br />
		<%= select_tag :display_type, options_for_select(%w{ check_box radio_button select text_field text_area}) %><br />
	</p>

	<p>
		<%= f.label :data_types %> <br />
		<!-- for now this feature only applies to the department STC -->
		<% Department.find_by_name("STC").data_types.each do |d| %>  
			<%= check_box_tag d.name %> <%= d.name %> <br />
		<% end %>
	</p>

  <p><%= f.submit "Submit" %></p>
<% end %>
