<%= error_messages_for 'payform_item' %>
<div>                     
  <fieldset>
    <legend>Add Jobs En Masse</legend>
    
    <div id="payform_user_chooser">
      <label>Search user:</label>
      <%= render :partial => 'users/user_chooser' %>
      <div id="add_by_group">
        <%= render :partial => 'users/add_by_group' %>
      </div>
    </div>
        
    <%= render :partial => '/payform/change_week' %>
    
    

    <% form_for(:payform_item, @payform_item, 
                :url => { :action => 'add_jobs', :id => @department.id, :payform => params[:payform] }, 
                :html => { :multipart => :true}) do  |form| %> 
    <%= render :partial => "/payform/job_fields", :locals => {:form => form, :department => @department, :select_day => Date.today.to_s, :clock => false}%>
    
    <br />
      
    <div class="ids_for_user_chooser"></div><%# this div is for ajaxing back selected users' ids %>  
    <%= submit_tag "Save" %>
  <% end %>
  <%= button_to "Cancel", { :controller => '/payform_admin', :action => :index, :id => @department.id }, :method => :get %>
  </fieldset>
</div>