<% form_for @data_type do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <select name="data_type[data_fields]" multiple="multiple">
    <% for opt in DataField::DISPLAY_TYPE_OPTIONS.keys %>
      <option><%= opt %></option>
    <% end %>
    </select>
    <%# f.label :data_fields %><br />
    <%# f.select :data_fields, DataField::DISPLAY_TYPE_OPTIONS, :multiple => 'true', :size => 6 %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
