<% form_for @data_type do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <% f.label :data_fields %><br />
    <%= select_tag 'data_type[data_fields][]', options_for_select(DataField::DISPLAY_TYPE_OPTIONS), :multiple => 'true', :size => 5 %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
