<%# 
  
  This switches between sticky for current location and sticky with options, whether @options_flag is set to something.
  
  The "more options" button is a button because making it a link makes it require js to submit the form. form submission is necessary to preserve the content of the field through the change. the js version should obv. be a link. 
  
 -%>
<center>
<fieldset class='sticky' style="text-align:left;">
  <%= error_messages_for 'sticky' %>
  <%- form_for :sticky, @sticky, :html => {:id => 'sticky_form'} do |f| -%>
    <p>
      <%= f.text_area :content, :size => '68x4' %>
    </p>
    
    <%- if @options_flag -%>
      <%= text_field_tag "options", "yes", :type => :hidden %>
      <p>Display in Location Groups:
        <% @location_groups.each do |group| %>
          <%= check_box_tag "location_groups[]", group.id, false, {:id => "group_#{group.id}"} %> 
          <%= "<label for=\"group_#{group.id}\">#{group.short_name}</label>" -%>&nbsp;&nbsp;
        <%- end -%>
      </p>
      <p>Display in Locations:
        <% @locations.each do |loc| %>
                    <!-- <%= check_box_tag "locations[]", loc.id, false, {:id => "location_#{loc.id}"} %> -->
          <% if loc == @shift_report.shift.location %>
            <%= check_box_tag "locations[]", loc.id, true, {:id => "location_#{loc.id}"} %>
          <% else %>
            <%= check_box_tag "locations[]", loc.id, false, {:id => "location_#{loc.id}"} %>
          <% end %>
          <%= "<label for=\"location_#{loc.id}\">#{loc.short_name}</label>" -%>&nbsp;&nbsp;

        <%- end -%>
      </p>
              <div class="grayright">separate names with commas</div>
      <p>Display for Users:<br />
        <%= text_field_with_auto_complete :sticky, :user_names, { :size => 70 }, 
               {:tokens => ",", :url => {:controller => :users, :action => :live_search, :id => @department.id},
                :method => :get, :param_name => 'search' } %>
      </p>
      <%= f.submit "Create this sticky", :name => "create" %>
    <%- else -%>
    
      <div class="right"><%= f.submit "more options", :name => "get_options",
      :onclick => "Modalbox.show('report/sticky_add', {title: 'Post new sticky (advanced)', method: 'post', width: 600, params:Form.serialize('sticky_form')});return false;" %></div>
      <%= f.submit "Create this sticky for #{@location.short_name}", :name => "create" %>
    <%- end -%>
  <%- end -%>
</fieldset>
</center>