<% form_for :library, @library do |f| %>
<div class="template_form">
  <fieldset>
    <legend>Template</legend>
    <%= render :partial => "template_form", :object => f %>
  </fieldset>
  <br />
  <fieldset>
    <legend>Add New Items</legend>
    <% @param_field = "library" %>
    <%= render :partial => "template_item_new", :object => @new_item %>
    <%= f.submit "Update" %>
  </fieldset>
  <br />
  <fieldset>
    <legend>Import From Template</legend>
    <p>
      Select a <%= @template_type_string  %> template to import items from: 
      <%= collection_select :template_to_import_from, :id, @templates, :id, :name, options = {:prompt => "none"} %>
    </p>
    <p>
      A copy of every item in the selected <%= @template_type_string %> template will be made in the current template
    </p>
  </fieldset>
  <br />
  <% for @loc_group in @location_groups %>
    <fieldset>
      <legend><%= @loc_group.long_name %> Items</legend>
      <% for @location in @loc_group.locations %>
        <% items = @template_items[@location.id] %>
        <% items ||= [] %>
        <h2><%= link_toggle_unless items.empty?, @location.short_name, @location.long_name %></h2>
        <table class="template_items_table" cellpadding="3">
          <% items.each do |item| %>
            <%= render :partial => "template_item", :object => item %>
          <% end %>
        </table>
        
    
      <%= render(:partial => 'shift_admin/template_schedule/location_items', :object => items) unless items.empty? %>
        
      <% end %>
    </fieldset>
    <br />
  <%- end -%>
  <br/><%= f.submit "Update" %>
<% end %>
</div>